extends layout

block content
  h1 Login
  form(action="/login", method="post")
    div
      label(for="username") Username:
      input(type="text", name="username", id="username", required)
    div
      label(for="password") Password:
      input(type="password", name="password", id="password", required)
    div
      button(type="submit") Login
  p Don't have an account? 
  a(href="/register") Register here
