body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Style for attribute labels in the detail view */
.instanceAttr {
  background-color: aquamarine;
  width: 150px;
  margin-right: 15px;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
}

/* Add a consistent row style for detail view */
.row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
